<?xml version="1.0" encoding="UTF-8"?>

<!-- mapper dtd 추가해야 <mapper> 등등 sub elemnet 나옴 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <!-- <mapper namespace="dao"> -->
 <mapper namespace="adminMapper"> <!-- MemberDAO, GoodsDAO 에서도 dao->adminMapper로 변경  -->
 
	<!-- ***** 관리자) 상품 전체 조회 ***** -->
 
 	<!-- 관리자) 헬스용품 전체 조회 -->
 	<select id="AdminHealthGoodsSelect" resultType="com.hwf.model.HealthGoodsDTO">
 		select * from healthgoods order by healthgoodsId
 	</select>
 	
 	<!-- 관리자) 헬스식품 전체 조회 -->
 	<select id="AdminHealthFoodSelect" resultType="com.hwf.model.HealthFoodDTO">
 		select * from healthfood order by hfId
 	</select>
 	
 	<!-- 관리자) 영양제 전체 조회 -->
 	<select id="AdminNutrientsSelect" resultType="com.hwf.model.NutrientsDTO">
 		select * from nutrients order by nutrientsId
 	</select>
 	
 	
 	
	<!-- ***** 관리자) 상품 수정 ***** -->
	
	<!-- 관리자) 헬스용품 수정 -->
	<select id="AdminHealthGoodsDetail" resultType="com.hwf.model.HealthGoodsDTO" parameterType="int">
 		select * from healthgoods 
 		where healthGoodsId = #{healthGoodsId}
 	</select>
 	
	<update id="AdminHealthGoodsUpdate" parameterType="com.hwf.model.HealthGoodsDTO">
 		update healthgoods set 
 		healthGoodsName = #{healthGoodsName}, 
 		healthGoodsPrice = #{healthGoodsPrice}, 
 		healthGoodsCategory = #{healthGoodsCategory}, 
 		healthGoodsImg = #{healthGoodsImg}, 
 		healthGoodsDetail = #{healthGoodsDetail}, 
 		link = #{link} 
 		where healthGoodsId = #{healthGoodsId}
 	</update>
 	
 	
 	
 	<!-- 관리자) 헬스식품 수정 -->
	<select id="AdminHealthFoodDetail" resultType="com.hwf.model.HealthFoodDTO" parameterType="int">
	<!-- <select id="AdminHealthFoodDetail" resultType="com.hwf.model.HealthFoodDTO" parameterType="com.hwf.model.HealthFoodDTO"> -->
 		select * from healthfood
 		where hfId = #{hfId}
 	</select>
 	
	<update id="AdminHealthFoodUpdate" parameterType="com.hwf.model.HealthFoodDTO">
 		update healthfood set 
 		hfName = #{hfName}, 
 		hfPrice = #{hfPrice}, 
 		hfCategory = #{hfCategory}, 
 		hfImg = #{hfImg}, 
 		hfDetail = #{hfDetail}, 
 		hfDom = to_date(#{hfDom},'yyyy-mm-dd'),
 		link = #{link} 
 		where hfId = #{hfId}
 	</update>
 	
 	
 	
 	 <!-- 관리자) 영양제 수정 -->
	<select id="AdminNutrientsDetail" resultType="com.hwf.model.NutrientsDTO" parameterType="int">
 		select * from nutrients
 		where nutrientsId = #{nutrientsId}
 	</select>
 	
	<update id="AdminNutrientsUpdate" parameterType="com.hwf.model.NutrientsDTO">
 		update nutrients set 
 		nutrientsName = #{nutrientsName}, 
 		nutrientsPrice = #{nutrientsPrice}, 
 		nutrientsCategory = #{nutrientsCategory}, 
 		nutrientsImg = #{nutrientsImg}, 
 		nutrientsDetail = #{nutrientsDetail}, 
 		nutrientsDom = to_date(#{nutrientsDom},'yyyy-mm-dd'), 
 		dailyIntake = #{dailyIntake}, 
 		numPerBottle = #{numPerBottle}, 
 		remainingNum = #{remainingNum}, 
 		link = #{link} 
 		where nutrientsId = #{nutrientsId}
 	</update>
 	
 	
 	<!-- ***** 관리자) 상품 삭제 ***** -->
 	<delete id="AdminHealthGoodsDelete" parameterType="int">
 		delete from healthgoods where healthgoodsId = #{healthgoodsId}
 	</delete>

 
 	
 	<!-- ***** 관리자) 상품 등록 ***** -->
  	
 	<!-- 관리자) 헬스용품 등록 -->
 	<insert id="AdminHealthGoodsInsert" parameterType="com.hwf.model.HealthGoodsDTO">
 		insert into healthgoods(healthGoodsId, healthGoodsName, healthGoodsPrice, healthGoodsCategory, healthGoodsImg, healthGoodsDetail, link)
 		values(healthgoods_id_seq.nextval, #{healthGoodsName}, #{healthGoodsPrice}, #{healthGoodsCategory}, #{healthGoodsImg}, #{healthGoodsDetail}, #{link})
 	</insert>
 	
 	<!-- 관리자) 헬스식품 등록 -->
 	<insert id="AdminHealthFoodInsert" parameterType="com.hwf.model.HealthFoodDTO">
		insert into healthfood(hfId, hfName, hfPrice, hfCategory, hfImg, hfDetail, hfDom, link)
 		values(hf_id_seq.nextval, #{hfName}, #{hfPrice}, #{hfCategory}, #{hfImg}, #{hfDetail}, to_date(#{hfDom},'yyyy-mm-dd'), #{link})
 	</insert>
 	
 	<!-- 관리자) 영양제 등록 -->
 	<insert id="AdminNutrientsInsert" parameterType="com.hwf.model.NutrientsDTO">
		insert into nutrients(nutrientsId, nutrientsName, nutrientsPrice, nutrientsCategory, nutrientsImg, nutrientsDetail, nutrientsDom, dailyIntake, numPerBottle, remainingNum, link)
 		values(nutrients_id_seq.nextval, #{nutrientsName}, #{nutrientsPrice}, #{nutrientsCategory}, #{nutrientsImg}, #{nutrientsDetail}, to_date(#{nutrientsDom},'yyyy-mm-dd'), #{dailyIntake}, #{numPerBottle}, #{remainingNum}, #{link})
 	</insert>
 	
 	
 	
 	<!-- ***** 관리자) 회원 조회 ***** -->
 	
 	<select id="AdminMemberSelect" resultType="com.hwf.model.MemberDTO">
 		select * from member order by memberId
 		<!-- select memberId=#{memberId}, memberName=#{memberName}, decode(memberSex,1,'남', 2,'여') memberSex=#{memberSex} from member -->
 		<!-- select memberId, memberName, decode(memberSex,1,'남', 2,'여') as memberSex from member -->
 	</select>
 	
 </mapper>