<?xml version="1.0" encoding="UTF-8"?>
<!-- boardmapper.xml  DML 명령 처리 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 	
 <mapper namespace="dao">
 	
 	<select id="selectAll"  resultType="dto">
 		select * from QnA order by qnaid desc
 	</select>
 	 
 	 <insert id="insert"   parameterType="dto">
		insert into QnA(qnaId, qnadate, qnacontent, qnaanswer, memberid)
 	 	values(qna_qnaid.nextval, sysdate , #{qnacontent} , #{qnaanswer}, #{memberid})
 	 </insert>

 
 </mapper>